{% extends "layouts/main.html" %}

{% block beforeContent %}

{{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
  }) }}
  
  <ul class="dwp-language-toggle__list">
    <li class="dwp-language-toggle__list-item" aria-current="true"> <span class="govuk-body-s"> English  </span></li>
    <li class="dwp-language-toggle__list-item">    
    <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link--no-visited-state" aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
    </li>
  </ul>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/agent/agent-view/contact-preferences-agent/how-we-speak-to-you/speaking-selection" method="post" novalidate>
      
      {{ govukRadios({
        name: "HowWeSpeakToYou",
        fieldset: {
          legend: {
            text: "How should we contact you when we need to speak to you?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Mobile phone",
            text: "Mobile phone"
          },
          {
            value: "Landline phone",
            text: "Landline phone"
          },
          {
            value: "Textphone for the deaf and hard of hearing",
            text: "Textphone for the deaf and hard of hearing",
            hint: {
              text: "Including Relay UK."
            }
          },
          {
            divider: "or"
          },
          {
            value: "I do not have a speaking preference",
            text: "I do not have a speaking preference"
          }
        ]
        })  
      }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}