{% extends "layouts/main.html" %}

{% block beforeContent %}

{{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
  }) }}
  
  <ul class="dwp-language-toggle__list">
    <li class="dwp-language-toggle__list-item" aria-current="true"> <span class="govuk-body-s"> English  </span></li>
    <li class="dwp-language-toggle__list-item">    
    <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link--no-visited-state" aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
    </li>
  </ul>

{% endblock %}

{% block content %}

  <form action="/customer/customer-view/textphone/confirm-your-changes" method="post" novalidate>
    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "SelectTextphone",
      fieldset: {
        legend: {
          text: "Do you want us to speak to you by textphone?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "This is an alternative format to help meet the needs of those who are deaf or hard of hearing. This includes Relay UK."
      },
    items: [
      {
        value: "I need a textphone for deaf and hard of hearing",
        text: "Yes"
      },
      {
        value: "I do not need a textphone",
        text: "No"
      }
    ]
    })  
  }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

{% endblock %}