{% extends "layouts/main.html" %}

{% block beforeContent %}

{{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
  }) }}
  
  <ul class="dwp-language-toggle__list">
    <li class="dwp-language-toggle__list-item" aria-current="true"> <span class="govuk-body-s"> English  </span></li>
    <li class="dwp-language-toggle__list-item">    
    <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link--no-visited-state" aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
    </li>
  </ul>

{% endblock %}

{% block content %}


<form class="form" id="radioForm" action=" " method="post" novalidate>

    {{ govukRadios({
        name: "BritishSignLanguage",
        fieldset: {
          legend: {
            text: "What video format do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
              text: "This is not a live interpreting service. You will get a video of the content in British Sign Language, with subtitles."
        },
        items: [
          {
            value: "DVD",
            text: "DVD"
          },
          { 
            value: "MPEG file",
            text: "MPEG file"
          }
        ]
        })  
      }}

      {{ govukButton({
      text: "Continue"
    }) }}
</form>




{% endblock %}