{% extends "layouts/main.html" %}

{% block beforeContent %}

{{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
  }) }}
  
  <ul class="dwp-language-toggle__list">
    <li class="dwp-language-toggle__list-item" aria-current="true"> <span class="govuk-body-s"> English  </span></li>
    <li class="dwp-language-toggle__list-item">    
    <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link--no-visited-state" aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
    </li>
  </ul>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      Confirm your changes
    </h1>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Alternative formats
        </dt>
        <dd class="govuk-summary-list__value" id="updatedValue">
            {% if data.AlternativeFormats.length > 1 %}
              <p class='govuk-summary-list__key'>Written Alternative formats</p>
              <p>{{ data.AlternativeFormatsOption }}</p>
              {% if data.AlternativeFormatsBulletPoints %}
                <ul class='govuk-list govuk-list--bullet'>
                  {% for name, item in data.AlternativeFormatsBulletPoints %}
                      <li>{{ item }} </li>
                  {% endfor %}
                </ul>
              {% endif%}
              <p class='govuk-summary-list__key'>Textphone</p>
              <p>Textphone for the deaf and hard of hearing</p>
              {% else %}
              {% if data.AlternativeFormats[0] === 'I do not need an alternative format' or data.AlternativeFormats[0] === 'Textphone for the deaf and hard of hearing' %}
                <p>{{ data.AlternativeFormats[0] }}
              {% else %}
                <p>{{ data.AlternativeFormatsOption }}</p>
              {% if data.AlternativeFormatsBulletPoints %}
                <ul class='govuk-list govuk-list--bullet'>
              {% for name, item in data.AlternativeFormatsBulletPoints %}
                <li>{{ item }} </li>
              {% endfor %}
                </ul>
              {% endif %}
              {% endif %}
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href=" ">
            Change
          </a>
        </dd>
      </div>
    </dl>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Confirm",
      href: " ",
      preventDoubleClick: true
      }) }}

      <p class="govuk-body">
        <a href="/customer/customer-view/alternative-formats/when-we-write-to-you/abandon-journey.html" class="govuk-link">Cancel</a>
      </p>

    </div>

  </div>

</div>
</div>
{% endblock %}

