{% extends "layouts/main.html" %}

{% block beforeContent %}

{{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
  }) }}
  
  <ul class="dwp-language-toggle__list">
    <li class="dwp-language-toggle__list-item" aria-current="true"> <span class="govuk-body-s"> English  </span></li>
    <li class="dwp-language-toggle__list-item">    
    <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link--no-visited-state" aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
    </li>
  </ul>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">


    <h1 class="govuk-heading-l">
      Confirm your changes
    </h1>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Alternative formats
        </dt>
        <p>Textphone for deaf and hard of hearing</p>
      </div>
    </dl>

    <div class="govuk-inset-text">
      We will also make textphone your preference for 'How we speak to you' when you make this change.
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Confirm",
      href: "/customer/customer-view/alternative-formats/when-we-write-to-you/updated-written.html",
      preventDoubleClick: true
      }) }}

      <p class="govuk-body">
        <a href="/customer/customer-view/alternative-formats/when-we-write-to-you/abandon-journey.html" class="govuk-link">Cancel</a>
      </p>

      <!-- <a class="govuk-link" href="/customer/customer-view/address-we-send-letters-to/abandon-journey.html">Cancel</a> -->
    </div>

  </div>

  <script>
    var divSection = document.getElementById('updatedValue');
    var howWeWrite = sessionStorage.getItem('howWeWrite');
    var howWeWriteArrary;
    if (howWeWrite) {
      howWeWriteArrary = howWeWrite.split("<br>");
    }

    if (divSection) {
      if (howWeWrite && howWeWriteArrary.length > 0) {
        var list = "";

        if (howWeWriteArrary.length > 1) {
          list += "<ul class='govuk-list govuk-list--bullet'>";
          for (let i = 1; i < howWeWriteArrary.length; i++) {
            list += `<li>${howWeWriteArrary[i]}</li>`
          }
          list += "</ul>"
        }

        divSection.innerHTML = `<p class='govuk-body'>${howWeWriteArrary[0]}</p>${list}`;
      } else {
        divSection.innerHTML = "";
      }
    }

  </script>

</div>
</div>
{% endblock %}

